@import "variables";

 h1 {
	font-family: $font-family_2;
 	font-weight: bolder;
	font-style: normal;
	padding: 40px;
	text-align: center;
	margin: 80px 40px 80px;
	font-size: 100px;
	color: $color_4;
 }
.tittlemove {
	&:hover {
		transform: scale(1.02);
		transition: all 500ms ease-in-out;
	}
}
h2 {
	font-family: $font-family_3;
	font-weight: bolder;
	font-style: normal;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	color: $color_4;
	background-color: $background-color_4;
}
h3 {
	font-family: $font-family_3;
	font-weight: bolder;
	font-style: italic;
	font-size: 40px;
	color: $color_3;
}
p {
	font-family: $font-family_1;
	font-weight: 100;
	font-style: normal;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	color: $color_5;
	margin: 60px;
}
a {
	text-decoration: none;
	color: $color_4; }