$color_1: black;
$color_2: #ffffff;
$color_3: rgb(160, 39, 39);
$color_4: white;
$color_5: rgb(255, 255, 255);
$font-family_1: "Unbounded", cursive;
$font-family_2: "Shadows Into Light", cursive;
$font-family_3: "Dosis", sans-serif;
$font-family_4: "Oswald", sans-serif;
$background-color_1: #a02727;
$background-color_2: rgb(0, 0, 0);
$background-color_3: #000000;
$background-color_4: rgb(160, 39, 39);
$background-color_5: rgba(0, 0, 0, 0.7);
$background-color_6: rgb(225, 142, 132);
$background-color_7: rgb(165, 64, 67);